.fluid_button_subtitles {
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    float: right;
    cursor: pointer;
    position: relative;
    text-align: right;

    .fluid_subtitles_title {
        width: 80px;
        overflow: hidden;
    }

    .fluid_subtitles_list {
        position: absolute;
        bottom: 25px;
        right: 3px;
        z-index: 9999;
        opacity: 0.9;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 2px;
        color: #ffffff;
        font-size: 13px;
        white-space: nowrap;
        text-align: start;
        width: max-content;
        padding: 0.5em;

        .fluid_subtitle_list_item {
            padding: 12px 34px 12px 24px;
            line-height: 15px;

            &:hover {
                background-color: #3a3a3a;
            }

            .subtitle_button_icon {
                background: url('../static/fluid-icons.svg') no-repeat;
                float: left;
                cursor: pointer;
                height: 18px;
                width: 18px;
                background-position: -164px -21px;
                opacity: 0;
            }

            &.subtitle_selected .subtitle_button_icon {
                opacity: 1 !important;
            }
        }
    }
}

.fluid_subtitles_container {
    color: white;
    position: absolute;
    bottom: 46px;
    left: 0;
    right: 0;
    height: auto;
    z-index: 1;
    text-align: center;

    div {
        display: inline;
        background: black;
        color: white;
        font-size: 1em;
        padding: 0.25em;
        border-radius: 4px;
    }
}
