.fluid_fluid_control_time_display {
    display: block;
    position: relative;
    left: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;

    @media only screen and (min-device-width: 375px) {
        left: 30px;
    }
}

.fluid_controls_container.no_volume_bar .fluid_fluid_control_time_display {
    left: 20px;
}
