.fluid_context_menu {
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  white-space: nowrap;
  text-align: start;
  z-index: 11;
  opacity: 0.8;
  border-radius: 1px;
  display: none;
  position: absolute;

  // IE 10+
  _:-ms-lang(x),
  & {
    text-align: left;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 13px 71px 13px 21px;
      cursor: pointer;

      &:hover {
        background-color: #1e1e1e;
      }

      + li {
        border-top: 1px solid #000000;
      }
    }
  }
}
