DEPLOY_CDN=https://player.tinyapps.download
# Fixed LAN IP of the Ubuntu VM. Do not use the public CDN hostname.
DEPLOY_HOST=192.168.2.197
DEPLOY_USER=cvp-deploy
DEPLOY_KEY=C:\Users\user\.ssh\cvp_deploy
DEPLOY_KNOWN_HOSTS=C:\Users\user\.ssh\cvp_known_hosts
